/* Here is your custom css styles. */
@font-face {
    font-family: 'GmarketSansTTFMedium';
    src: url('../font/GmarketSansTTFMedium.ttf');
}

@font-face {
    font-family: 'HappyMonkey-Regular';
    src: url('../font/HappyMonkey-Regular.ttf');
}

@font-face {
    font-family: 'Diphylleia';
    src: url('../font/Diphylleia-Regular.ttf');
}

.diy-gmarket-sans {
    font-family: 'GmarketSansTTFMedium';
}

.diy-happy-monkey {
    font-family: 'HappyMonkey-Regular';
}

.diy-diphylleia {
    font-family: 'Diphylleia';
}

body {
    font-family: 'GmarketSansTTFMedium';
}